<router-outlet></router-outlet>
<div class="wrapper">

  <!-- SIDEBAR START -->
  <app-sidebar class="fade-in" *ngIf="isActive"></app-sidebar>
  <!-- SIDEBAR END -->

  <!-- CONTENT START -->
  <div id="content">
    <nav class="navbar navbar-dark bg-dark">
      <div class="img-src mt-2" (click)="isActive =!isActive" [ngStyle]="{'transform': isActive ? 'rotate(0deg)' : 'rotate(180deg)'}"></div>
    </nav>
    <div class="container-fluid">
      <app-content></app-content>
    </div>
  </div>
  <!-- CONTENT END -->
</div>
