/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

// regular style toast
@import "~ngx-toastr/toastr";

body {
    font-family: "Poppins", sans-serif;
    background: #fafafa;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.delete-icon {
    color: #00e676;
    cursor: grab;
}
.delete-icon:hover {
    color: red;
    cursor: pointer;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #212121;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #212121;
}

#content {
    width: 100%;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #00e676;
    border-top: 1px solid #00e676;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #212121;
    background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff;
    background: #00e676;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #00e676;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.bg-dark {
    background-color: #212121 !important;
}

.img-src {
    background-image: url("https://assets.stickpng.com/thumbs/580b57fcd9996e24bc43c43f.png");
    background-size: 100%;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
}

.sidebar-heading {
    border-top: 1px solid #00e676;
    padding: 20px 0 20px 0;
    text-align: center;
    color: white;
}
